{
  "parser"  : "babel-eslint",

  "plugins": [
    "react"
  ],
  
  "env": {
        "browser": true,
        "es6": true
    },

  "rules": {
    "semi" : ["error", "never"],
    "max-len": ["off", 120, 4],
    "jsx-quotes": ["error", "prefer-single"],
    "jsx-indent": "off",
    "indent": "off"
  }
}
